:root
{
    --orange: #FD8D14;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: 2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*
{
    font-family: 'Anton', sans-serif;
    margin: 0; 
	padding: 0;
    box-sizing: border-box;
    outline: none; 
	border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #FAF8ED;
}

section
{
    padding: 2rem 9%;
}

.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #748E63;
}

.heading span
{
    background: #F9B572;
    color: #F3FDE8;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn
{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 4rem;
    border: .2rem outset #f9b572;
    color: #FD8D14;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: #748E63;
    color:#fff;
}

.header
{
    position: fixed;
    top:0; 
	left:0; 
	right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #3A4D39;
}

.header .logo i
{
    color: #f9b572;
}

.header .navbar a
{
    font-size: 1.7rem;
    margin:0 1rem;
    color: #3A4D39;
}

.header .navbar a:hover
{
    color: #f9b572;
}

.header .icons div
{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 4rem;
    background: #FAF8ED;
    color: #3A4D39;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover
{
    background: #f9b572;
    color:#fff;
}

#menu-btn
{
    display: none;
}

.home 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("pexels-polina-tankilevitch-4443492.jpg") no-repeat; 
    background-position: center;
    background-size: cover;
	padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content
{
    text-align: center;
    width: 60rem;
}

.home .content h3
{
    color: #FAF8ED;
    font-size: 3rem;
}

.home .content h3 span
{
    color: #f9b572;
}

.home .content p
{
    color: #FAF8ED;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.features .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box
{
    padding: 3rem 2rem;
    background: #F3FDE8;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem;
	background-color: #FFF2D8;
}

.features .box-container .box img
{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3
{
    font-size: 2.5rem;
    line-height: 1.8;
    color: black;
}

.features .box-container .box p
{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.products .product-slider
{
    padding:1rem;
}

.products .product-slider:first-child
{
    margin-bottom: 2rem;
}

.products .product-slider .box
{
    background: #F3FDE8;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover
{
    outline-offset: 0rem;
    outline: var(--outline-hover);
	background-color: #FFF2D8;
}

.products .product-slider .box img
{
    height:20rem;
}

.products .product-slider .box h3
{
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price
{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i
{
    font-size: 1.7rem;
    color: var(--orange);
    padding:.5rem 0;
}

.categories .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box
{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #F3FDE8;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem;
	background-color: #FFF2D8;
}

.categories .box-container .box img
{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3
{
   font-size: 2rem;
   color: var(--black);
   line-height: 1.8;
}

.categories .box-container .box p
{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.review .review-slider
{
    padding:1rem;
}

.review .review-slider .box
{
    background: #F3FDE8;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem;
	background-color: #FFF2D8;
}

.review .review-slider .box img
{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p
{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3
{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i
{
    color: var(--orange);
    font-size: 1.7rem;
}

.blogs .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box
{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #F3FDE8;
}

.blogs .box-container .box img
{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content
{
    padding:2rem;
}

.blogs .box-container .box .content .icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a
{
    color: #748E63;
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color: #F9B572;
}

.blogs .box-container .box .content .icons a i
{
    color: #748E63;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3
{
    line-height: 1.8;
    color: #F9B572;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p
{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}

.footer
{
    background: #fff;
}

.footer .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3
{
    font-size: 2.5rem;
    color: #3A4D39;
    padding: 1rem 0;
}

.footer .box-container .box h3 i
{
    color: #F9B572;
}

.footer .box-container .box .links
{
    display: block;
    font-size: 1.5rem;
    color: #3A4D39;
    padding:  1rem 0;
}

.footer .box-container .box .links i
{
    color: #F9B572;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i
{
    padding-right: 2rem;
}


.footer .box-container .box p
{
    line-height: 1.8;
    font-size: 1.5rem;
    color: #3A4D39;
    padding:1rem 0;
}

.footer .box-container .box .share a
{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: #3A4D39;
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover
{
    background: #F9B572;
    color: #fff;
}

.footer .box-container .box .email
{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #FAF8ED;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img
{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit
{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #3A4D39;
    border-top: 3rem solid;
	border-top-color: #FAF8ED;
}

.footer .credit span
{
    color: #F9B572;
}

@media (max-width:991px)
{

    html
	{
        font-size: 55%;
    }

    .header
	{
        padding:2rem;
    }

    section
	{
        padding:2rem;
    }

}

@media (max-width:768px)
{

    #menu-btn
	{
        display: inline-block;
    }
}

@media (max-width:450px)
{

    html
	{
        font-size: 50%;
    }

    .heading
	{
        font-size: 2.5rem;
    }

    .footer
	{
        text-align: center;
    }
}